
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #748691;
}

header, footer {
    background-color: #333;
    color: #21323D;
    text-align: center;
    padding: 1em 0;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    color: #E7E7E7;
}
p{
    color: #333333;

}
.contact-info {
    margin-bottom: 20px;
}
.contact-info p {
    margin: 5px 0;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    font-weight: bold;
}
input, textarea, button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    resize: vertical;
}
button {
    background-color: #444447;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #707070;
}
